<?xml version="1.0"?>
<!-- p3dx_gazebo/launch/p3dx_with_camera.launch -->
<launch>
  <!-- Define launch file arguments -->
  <arg name="world_name" default="" />
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="recording" default="false" />
  <arg name="debug" default="false" />


  <!-- Start Gazebo with your robot description -->
  <include file="$(find p3dx_gazebo)/launch/p3dx_gazebo.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="recording" value="$(arg recording)" />
    <arg name="debug" value="$(arg debug)" />
  </include>

  <!-- Launch map_server -->
  <node name="map_server" pkg="map_server" type="map_server" args="/root/catkin_ws/src/my_robot_control/maps/mymap_2.yaml" /> 

  <!-- Launch gmapping -->
  <include file="$(find gmapping)/launch/slam_gmapping_pr2.launch" />
  <!-- Launch RVIZ with your configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find p3dx_gazebo)/launch/pioneer3dx.rviz"/> 

</launch>
